@model WebUi.Models.PacksIndexViewModel
@{
    ViewBag.Title = "Sklep sportowy: Twój koszyk";
}

<h2>Twój koszyk</h2>
<table class="table">
    <thead>
        <tr>
            <th>Ilość</th>
            <th>Produkt</th>
            <th class="text-right">Cena</th>
            <th class="text-right">Wartość</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.CarriageCart.Lines)
        {
            <tr>
                <td class="text-center">@line.Quantity</td>
                <td class="text-left">@line.Packs.Name</td>
                <td class="text-right">eeee</td>
                <td class="text-right">
                    eee
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Razem:</td>
            <td class="text-right">
                1111
            </td>
        </tr>
    </tfoot>
</table>

<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl">Kontynuuj zakupy</a>
</div>
